<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Servlet_Forward</display-name>

	<servlet>
		<servlet-name>seoul</servlet-name>
		<servlet-class>Forward_Seoul</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>seoul</servlet-name>
		<url-pattern>/Forward_Seoul</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>busan</servlet-name>
		<servlet-class>Forward_Busan</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>busan</servlet-name>
		<url-pattern>/Forward_Busan</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>test</servlet-name>
		<servlet-class>ForwardTest01</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/Servlet01</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>