<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Servlet_MIME</display-name>

	<servlet>
		<servlet-name>My01</servlet-name>
		<servlet-class>ServletImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>My01</servlet-name>
		<url-pattern>/Servlet01</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>My02</servlet-name>
		<servlet-class>ServletSound</servlet-class>
		<init-param>
			<param-name>dir</param-name>
			<param-value>/sounds</param-value>
		</init-param>
		<init-param>
			<param-name>filename</param-name>
			<param-value>bgsnd.wma</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>My02</servlet-name>
		<url-pattern>/Servlet02</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>My03</servlet-name>
		<servlet-class>ServletFile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>My03</servlet-name>
		<url-pattern>/Servlet03</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>My04</servlet-name>
		<servlet-class>ServletGraph</servlet-class>
		<init-param>
			<param-name>result</param-name>
			<param-value>result.dat</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>My04</servlet-name>
		<url-pattern>/Servlet04</url-pattern>
	</servlet-mapping>
	
	<servlet>
			<servlet-name>My05</servlet-name>
			<servlet-class>ServletGraph_2</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>My05</servlet-name>
			<url-pattern>/Servlet05</url-pattern>
		</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>